.board {
  background-color: var(--board-bg);
  height: calc(100vh - 4.25rem);
}

.boardContainer {
  padding: 2rem;
}

.boardName {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: rgb(83, 83, 83);
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
